# Flask core
flask==3.0.3
flask-cors==4.0.0
gunicorn==21.2.0

# Supabase
supabase==2.3.4
postgrest==0.15.0
gotrue==2.5.0
realtime<2.0.0,>=1.0.0

storage3==0.7.5

# TTS & Speech
gTTS==2.5.1
# Use GitHub repo (more reliable than PyPI release)
git+https://github.com/openai/whisper.git

# Torch (CPU only, works with Python 3.10)
torch==2.8.0
torchaudio==2.8.0



# Audio processing
pydub==0.25.1

# Utils
python-dotenv==1.0.1
requests==2.32.3
