Flask==2.3.3
gunicorn==21.2.0


# Supabase
supabase>=2.3.4


# Audio / ML
whisper==1.1.10


gTTS==2.5.1
soundfile==0.12.1
numpy==1.26.4
scipy==1.11.4

# Torch (CPU only, avoids CUDA issues on Render)
torch==2.2.2+cpu
torchaudio==2.2.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html

# Other utilities
pydub==0.25.1
requests==2.31.0
